<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="style">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<div class="tophead">
  <head>
  	<title>PetStargram Cats</title>

  <hgroup>
   <h1 class="site-name"><a href="/">PetSTARgram</a></h1>
   <h3 class="slogan">The Cutest pets on Instagram!</h3>
  </hgroup>
  </head>
</div>
  <ul id="nav">
    <li><%= link_to 'Cats', cat_index_path %></li>
    <li><%= link_to 'Dogs', dog_index_path %></li>
    <li><%= link_to 'Other Pets', other_index_path %></li>
    <li><a href="mailto:petstargram@gmail.com">Contact</a></li>
  </ul>


<div class="cats">
<% @pet.where(:kind => "cat").order(followers: :desc).each do |c| %>
<%= image_tag(c.image_url) %>
	<div class="catfollow">
	<p>Name: <%= c.name %></p>
	<p>Followers: <%= c.followers %></p>
	<% end %>
	</div>
</div>


<footer>
  <div class="footer">
    <h4>©Property of The Great Doge<img src="http://i.imgur.com/76YYlGb.png"></h4>
  </div>
</footer>   
