<!DOCTYPE html>
<html>
<link rel="stylesheet" href="animate.min.css">
<link href="../../../assets/stylesheets/normalize.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="style">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<div class="tophead">
<head>
	<title>PetSTARgram Cats</title>

<hgroup>
 <h1 class="site-name"><a href="/">PetSTARgram</a></h1>
 <h3 class="slogan">The Cutest pets on Instagram!</h3>
</hgroup>
</head>
</div>

<nav class="mainmenu">
  <ul class="menu">
    <li><%= link_to 'Cats', cat_index_path %></li>
    <li><%= link_to 'Dogs', dog_index_path %></li>
    <li><%= link_to 'Other Pets', other_index_path %></li>
    <li><a href="mailto:petstargram@gmail.com">Contact</a></li>
  </ul>
</nav>

<div class="other">
<% @pet.where(:kind => "other").order(followers: :desc).each do |o| %>
<%= image_tag(o.image_url) %>
	<div class="otherfollow">
	<p>Name: <%= o.name %></p>
	<p>Followers: <%= o.followers %></p>
	<% end %>
	</div>
</div>


<footer>
  <div class="footer">
    <h4>©Property of The Great Doge<img src="http://i.imgur.com/76YYlGb.png"></h4>
  </div>
</footer>   