<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="style">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<body>



<div class="tophead">
  <head>
    <title>PetStargram Dogs</title>
  </head>
  <div class="logo">
    <h1 class="site-name"><a href="/">PetSTARgram</a></h1></br>
    <h3 class="slogan">The Cutest pets on Instagram!</h3>
  </div>
  <ul id="nav">
    <li><a href="mailto:petstargram@gmail.com">Contact</a></li>
    <li><%= link_to 'Other Pets', other_index_path %></li>
    <li><%= link_to 'Dogs', dog_index_path %></li>
    <li><%= link_to 'Cats', cat_index_path %></li>
  </ul>
</div>


<div class="dogs">
  <% @pet.where(:kind => "dog").order(followers: :desc).each do |d| %>
  <%= image_tag(d.image_url) %>
	<div class="dogfollow">
  	<p>Name: <%= d.name %></p>
  	<p>Followers: <%= d.followers %></p>
	<% end %>
	</div>
</div>

</body>

<div class="botcont">
  <footer>
    <ul id="botnav">
      <li><%= link_to 'Cats', cat_index_path %></li>
      <li><%= link_to 'Dogs', dog_index_path %></li>
      <li><%= link_to 'Other Pets', other_index_path %></li>
      <li><a href="mailto:petstargram@gmail.com">Contact</a></li>
    </ul>
  </footer>   
</div>

<div class="credits">
  <h4>©Andy Kim Webdev<img src="http://i.imgur.com/76YYlGb.png"></h4> 
</div>



