<!DOCTYPE html>
<html>

<link rel="stylesheet" href="animate.min.css">
<link href="../../../assets/stylesheets/normalize.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="style">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<body>


<div class="tophead">
  <head>
  	<title>PetStargram Cats</title>

  <hgroup>
   <h1 class="site-name"><a href="/">PetSTARgram</a></h1>
   <h3 class="slogan">The Cutest pets on Instagram!</h3>
  </hgroup>
  </head>
</div>

<nav class="mainmenu">
  <ul class="menu">
    <li><%= link_to 'Cats', cat_index_path %></li>
    <li><%= link_to 'Dogs', dog_index_path %></li>
    <li><%= link_to 'Other Pets', other_index_path %></li>
    <li><a href="mailto:petstargram@gmail.com">Contact</a></li>
  </ul>
</nav>


<div class="dogs">
<% @pet.where(:kind => "dog").order(followers: :desc).each do |d| %>
<%= image_tag(d.image_url) %>
	<div class="dogfollow">
	<p>Name: <%= d.name %></p>
	<p>Followers: <%= d.followers %></p>
	<% end %>
	</div>
</div>

</body>

<footer>
  <div class="footer">
    <h4>©Property of The Great Doge<img src="http://i.imgur.com/76YYlGb.png"></h4>
  </div>
</footer>    



